<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ConexionBD" connectionString="Provider=SQLNCLI10;Data Source=COSTOSACA\COSTOSACA;Persist Security Info=True;User ID=sa;Password=costosabc;Initial Catalog=CEPA_CONTENEDORES"/>
    <add name="ConexionBD1" connectionString="Provider=SQLNCLI10;Data Source=COSTOSACA\COSTOSACA;Persist Security Info=True;User ID=sa;Password=costosabc;Initial Catalog=CEPA_CONTRATISTAS"/>
  </connectionStrings>
  <system.web>    
      <compilation debug="true" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Inicio.aspx" name="adAuthCookie" defaultUrl="Default.aspx" timeout="60" path="/" protection="All" requireSSL="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Service1Soap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://10.1.4.51:2500/Service1.asmx" binding="basicHttpBinding"
        bindingConfiguration="Service1Soap" contract="ServiceReference1.Service1Soap"
        name="Service1Soap" />
      <endpoint address="http://10.1.4.51:2500/Service1.asmx" binding="customBinding"
        bindingConfiguration="Service1Soap12" contract="ServiceReference1.Service1Soap"
        name="Service1Soap12" />
    </client>
  </system.serviceModel>-->
</configuration>