<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="userSidunea" value="integracion.mancepa02" />
    <add key="pswSidunea" value="2mOHV2uje3YqJ*" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSManifiestoCEPAPortBinding" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:45:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic"/>
          </security>                    
        </binding>
        <binding name="WSManifiestoCEPAPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://siduneaworld.aduana.gob.sv:443/WSManifestCEPA/cepaService"
        binding="basicHttpBinding" bindingConfiguration="WSManifiestoCEPAPortBinding"
        contract="CepaSW.WSManifiestoCEPA" name="WSManifiestoCEPAPort" />
    </client>
  </system.serviceModel>
</configuration>