<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ConexionBD" connectionString="Provider=SQLNCLI10;Data Source=COSTOSACA\COSTOSACA;Persist Security Info=True;User ID=sa;Password=costosabc;Initial Catalog=CEPA_CONTENEDORES"/>
    <!--<add name="ConexionBD" connectionString="Provider=SQLNCLI10;Data Source=ACA160602;Persist Security Info=True;User ID=sa;Password=costosaca;Initial Catalog=CEPA_CONTENEDORES"/>-->
    <add name="ADConnString" connectionString="LDAP://cepa.gob.sv/OU=acajutla,DC=cepa,DC=gob,DC=sv"/>
  </connectionStrings>
  <appSettings>
    <add key="ActiveDirectoryPath" value="LDAP://cepa.gob.sv/OU=acajutla,DC=cepa,DC=gob,DC=sv"/>
    <add key="fullPath" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Autorizados\Excel\"/>
    <add key="fullPDF" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Autorizados\PDF\"/>
    <add key="fullIMDG" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Autorizados\IMDG\"/>
    <add key="Enviados" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Enviados\"/>
    <add key="Archivos" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Archivos\"/>
    <add key="DAN" value="C:\Inetpub\wwwroot\CEPA.Contenedores\Autorizados\DAN\"/>
  </appSettings>
  <system.web>
    <globalization uiCulture="es" culture="es-SV" />
    <httpRuntime executionTimeout="36000" maxRequestLength="20500" useFullyQualifiedRedirectUrl="false"  minFreeThreads="8"  minLocalRequestFreeThreads="4"  appRequestQueueLimit="100"  enableVersionHeader="true"/>
    <compilation debug="true" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Inicio.aspx" name="adAuthCookie" defaultUrl="default.aspx" timeout="60" path="/" protection="All" requireSSL="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="LDAP">
      <providers>
        <add name="LDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnString"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="LDAPRoleProvider">
      <providers>
        <add name="LDAPRoleProvider" type="Ldap.LDAPRoleProvider" connectionStringName="ADConnString"/>
      </providers>
    </roleManager>
    <identity impersonate="false"/>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="120"/>-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <location path="~/CSS/Images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/CSS">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/DATA">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Archivos">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/CSS/Img">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/CSS/Img/Icon">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Autorizados">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Enviados">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Autorizados/Excel">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/~/Autorizados/PDF">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/~/Autorizados/IMDG">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Menu/Img">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Menu">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>