<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CEPA.CCO.DAL.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLOLEDB;Data Source=ACA160602;Persist Security Info=True;User ID=sa;Initial Catalog=CEPA_CONTENEDORES"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>