<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="2147483647" />    
    <authentication mode="Forms">
      <forms loginUrl="mfInicio.aspx" name="adAuthCookie" defaultUrl="mfDefault.aspx" timeout="60" path="/" protection="All" requireSSL="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <membership defaultProvider="LDAP">
      <providers>
        <add name="LDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnString"/>
      </providers>
    </membership>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  <appSettings>
    <add key="apiFox" value="http://190.86.251.57:83/api/Ejecutar/?Consulta="/>
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>
