<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="ConexionBD" connectionString="Provider=SQLNCLI10;Data Source=10.1.4.148\COSTOSACA;Persist Security Info=True;User ID=sa;Password=costosabc;Initial Catalog=CEPA_CONTENEDORES" />-->
    <!--<add name="ConexionBD" connectionString="Data Source=10.1.4.61\BD_PRODUCCION;Persist Security Info=True;User ID=contenedores.cepa;Password=contenedores;Initial Catalog=CEPA_CONTENEDORES" />-->
    <add name="ConexionBD" connectionString="Provider=SQLNCLI10;Data Source=ACA160602;Persist Security Info=True;User ID=sa;Password=costosaca;Initial Catalog=CEPA_CONTENEDORES"/>
    <add name="ADConnString" connectionString="LDAP://cepa.gob.sv/OU=acajutla,DC=cepa,DC=gob,DC=sv"/>
  </connectionStrings>
  <appSettings>
    <add key="ActiveDirectoryPath" value="LDAP://cepa.gob.sv/OU=acajutla,DC=cepa,DC=gob,DC=sv"/>
    <!--<add key="fullPath" value="D:\inetpub\Autorizados\Excel\" />
    <add key="fullPDF" value="D:\inetpub\Autorizados\PDF\" />
    <add key="fullIMDG" value="D:\inetpub\Autorizados\IMDG\" />
    <add key="Enviados" value="D:\inetpub\Enviados\" />
    <add key="Archivos" value="D:\inetpub\Archivos\" />
    <add key="DAN" value="D:\inetpub\Autorizados\DAN\" />
    <add key="fullPathC" value="D:\inetpub\Autorizados\Excel\" />-->
    
    <!--<add key="fullPath" value="C:\inetpub\Autorizados\Excel\"/>
    <add key="fullPDF" value="C:\inetpub\Autorizados\PDF\"/>
    <add key="fullIMDG" value="C:\inetpub\Autorizados\IMDG\"/>
    <add key="Enviados" value="C:\inetpub\Enviados\"/>
    <add key="Archivos" value="C:\inetpub\Archivos\"/>
    <add key="DAN" value="C:\inetpub\Autorizados\DAN\"/>
    <add key="fullPathC" value="C:\inetpub\Autorizados\Excel\"/>-->  
  
  
     <add key="fullPath" value="E:\inetpub\Autorizados\Excel\" />
    <add key="fullPDF" value="E:\inetpub\Autorizados\PDF\" />
    <add key="fullIMDG" value="E:\inetpub\Autorizados\IMDG\" />
    <add key="Enviados" value="E:\inetpub\Enviados\" />
    <add key="Archivos" value="E:\inetpub\Archivos\" />
    <add key="DAN" value="E:\inetpub\Autorizados\DAN\" />
    <add key="fullPathC" value="E:\inetpub\Autorizados\Excel\" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <!--<validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>-->
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <globalization uiCulture="es" culture="es-SV"/>
    <httpRuntime executionTimeout="36000" maxRequestLength="20500" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <compilation debug="true" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Office.Interop.Excel, Version=14.0.0.0, Culture=neutral"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Inicio.aspx" name="adAuthCookie" defaultUrl="default.aspx" timeout="60" path="/" protection="All" requireSSL="false"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="LDAP">
      <providers>
        <add name="LDAP" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnString"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="false" defaultProvider="LDAPRoleProvider">
      <providers>
        <add name="LDAPRoleProvider" type="Ldap.LDAPRoleProvider" connectionStringName="ADConnString"/>
      </providers>
    </roleManager>
    <identity impersonate="false"/>
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="120"/>-->
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <!--<xhtmlConformance mode="Legacy"/>-->
    <clientTarget>
      <add alias="ie11" userAgent="Mozilla/5.0 (Windows NT 6.3; Trident/7.0; rv:11.0)"/>
    </clientTarget>
  </system.web>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSManifiestoCEPAPortBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.aduana.gob.sv:80/WS118ManSid/cepaService" binding="basicHttpBinding" bindingConfiguration="WSManifiestoCEPAPortBinding" contract="CepaWebService.WSManifiestoCEPA" name="WSManifiestoCEPAPort"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ClosedXML" publicKeyToken="FD1EB21B62AE805B" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-0.76.0.0" newVersion="0.76.0.0"/>
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.5.5631.0" newVersion="2.5.5631.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
