body {
    background: white;
    font-size: .95em;
    font-family: Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}


/*****************************************************
            PAGINA DE INICIO
*****************************************************/

.wrap-shell
{
    width: 960px;
    background-color:  #FFF;
    margin: 0px auto 10px auto;
    height: auto;
}

.floatLeft
{
    float: left;
}

#brandContent
{
    display: block;
    width: 475px;
    color: #FFF;
    
}
    #brandContent h1 
    {
        font-weight: 100;
        color: #FFF;
        font-size: 45px;
        line-height: 29px;
        margin: 0px 0px 0px 0px;
        padding: 0;
    }
    

.loginCont
{
    margin-top: 45px;
    float: left;
    width: 960px;
}

.brandImg
{
    display: block;
}

.brandText
{
    height: 120px;
    width: 413px;
    padding: 15px 31px 0px 31px;
    background-color: #1584CE;  
}

    .brandText h1 
    {
        font-weight: 100;
        color: #FFF;
        font-size: 45px;
        line-height: 29px;
        margin: 0px 0px 0px 0px;
        padding: 0;
    }
    .brandText p 
        {
            font-weight: 100;
            font-size: 14px;
            line-height: 16px;
            margin: 12px 0px 18px 0px;
            padding: 0;
            font-family: Segoe UI, Arial, Helvetica, Sans-Serif;
        }

#signInTD
{
    width: 420px;
    margin-left: 65px;
}

.signInHeader
{
    margin-top: 15px;
    float: left;
    width: 200px;
    margin-bottom: 30px;
}

.signInCont
{
    width: 320px;
}

.signInCont a
{
    color: #0072C6;
    text-decoration: none;
}

.signInCont strong
{
    color: #0072C6;
    font-weight: bold;
}

.signInCont a:hover
{
    text-decoration: underline;
}
/*
input[type="text"], input[type="password"], input[type="email"], input[type="number"]
{
    width: 320px;
    padding: 8px 6px 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    color: #212121;
    margin-bottom: 10px;
}
*/


#inputTxtandPassw
{
    padding: 8px 6px 8px 12px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    color: #212121;
    margin-bottom: 10px;
    }

#inputTxtandPassw2
{
    padding: 8px 6px 8px 12px;
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    color: #212121;
    margin-bottom: 10px;
    }

input[type="text"] {
     width: 320px;
    padding: 8px 6px 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.27);
    font-family: "Segoe UI", "Segoe UI Web Regular", "Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, "sans-serif";
    color: #212121;
    margin-bottom: 10px;
    height: 20px;
}

.LoginField
{
    float: left;
    margin-bottom: 25px;
}

.LoginField input[type="submit"] 
{
    border: 1px solid #214e7e;
        padding: 3px;
        font-size: .95em;
        color: #FFF;
        width: 120px;
        font-family: Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
        background-color:#1584CE;
    }
    
.LoginField input[type="submit"]:hover
{
    border: 1px solid #89a6b1;
    padding: 3px;
    font-size: 0.95em;
    color: #FFF;
    width: 120px;
    font-family: 'Segoe UI' , 'Helvetica Neue' , Arial, Tahoma, 'Lucida Grande' , Sans-Serif;
    background-color: #89a6b1; /*#0094a7;*/
}

.pplaceholder
{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
}

#index-footer
{
    float: left;
    border-top: 1px solid #ccc;
    width: 100%;
    padding: 10px 10px 10px 10px;
    font-size: 0.8em;
}


#index-footer a
{
    color: #2a2a2a;
    text-decoration: none;
}



/* forms   
----------------------------------------------------------*/
fieldset 
{
    font-family: Segoe UI Light, Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
    width: 361px;
}

    fieldset legend 
    {
        font-family: Segoe UI, Segoe UI Light;
        font-size: 18px;
        font-weight: bold;
        padding: 2px 4px 8px 4px;
    }
    
    fieldset ol {
        padding: 0;
        list-style: none;
    }
    
        fieldset ol li {
            padding-bottom: 5px;
        }
    
    fieldset label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: Black;
    }
    
    fieldset label.checkbox {
        display: inline;
    }
    
    fieldset input[type="text"], input[type="password"] {
        border: 1px solid #ccc;
        padding: 1px;
        font-size: .95em;
        color: #444;
        width: 320px;
        font-family: Segoe UI Light, Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
    }
    
    fieldset input[type="text"]:hover, input[type="password"]:hover
{
    border: 1px solid #999999;
    padding: 2px;
    font-size: .95em;
    color: #444;
    width: 300px;
    font-family: Segoe UI Light, Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
}

 fieldset input[type="text"]:visited, input[type="password"]:active
{
    border: 2px solid #999999;
    padding: 2px;
    font-size: .95em;
    color: #444;
    width: 300px;
    font-family: Segoe UI Light, Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
}

    fieldset input[type="submit"] {
        border: 2px solid #ccc;
        padding: 2px;
        font-size: 18px;
        color: #444;
        width: 150px;
        font-family: Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
    }
    
    fieldset input[type="submit"]:hover
{
    border: 2px solid #999999;
    padding: 2px;
    font-size: 18px;
    color: #444;
    width: 150px;
    font-family: 'Segoe UI' , 'Helvetica Neue' , Arial, Tahoma, 'Lucida Grande' , Sans-Serif;
    background-color: #DDDDDD;
}

fieldset.placeholder{
  color: #999;
}
/*
 input[placeholder], [placeholder], *[placeholder]
    {
        color:#999 !important;
    }
*/
    input:-moz-placeholder
    {
         color:#999 !important;
    }
    
    fieldset select {
         border: 1px solid #ccc;
        padding: 2px;
        font-size: 18px;
        color: #444;
        width: 300px;
        font-family: Segoe UI Light, Segoe UI, "Helvetica Neue" , Arial, Tahoma, Lucida Grande, Sans-Serif;
    }
    
 /* Information and errors  
----------------------------------------------------------*/  
.message {
    clear: both;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 15px;
    
    /*CSS3 properties*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    -moz-box-shadow: 2px 2px 5px #888;
}

.info {
    background: #bde5f8;
    color: #00529b;
}

.error {
    background: #ffe4e4;
    color: #be3e16;
}

.success {
    background: #dff2bf;
    color: #4f8a10;
}

input[type="text"].error-field, input[type="password"].error-field { 
    border: solid 1px #be3e16; 
    background-color: #ffe4e4;
}

.validation-error {
    display: inline;
    color: #be3e16;
    font-weight: bold;
    font-size: 1.1em;
}

    .validation-error:before {
        content: "»";
    }
