<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ActiveDirectoryPath" value="LDAP://cepa.gob.sv/OU=acajutla,DC=cepa,DC=gob,DC=sv" />
    <add key="fullPath" value="D:\inetpub\Autorizados\Excel\" />
    <add key="fullPDF" value="D:\inetpub\Autorizados\PDF\" />
    <add key="fullIMDG" value="D:\inetpub\Autorizados\IMDG\" />
    <add key="Enviados" value="D:\inetpub\Enviados\" />
    <add key="Archivos" value="D:\inetpub\Archivos\" />
    <add key="DAN" value="D:\inetpub\Autorizados\DAN\" />
    <add key="fullPathC" value="D:\inetpub\Autorizados\Excel\" />
    <add key="fullPathCO" value="D:\inetpub\Autorizados\COTECNA\" />
    <add key="userSidunea" value="integracion.mancepa02" />
    <add key="pswSidunea" value="2mOHV2uje3YqJ*" />
	  <add key="urlCOARRI" value="http://10.1.4.20:2019/api/edi/coarri/?idreg=" />
    <!--<add key="fullPath" value="D:\inetpub\Autorizados\Excel\" />
    <add key="fullPDF" value="D:\inetpub\Autorizados\PDF\" />
    <add key="fullIMDG" value="D:\inetpub\Autorizados\IMDG\" />
    <add key="Enviados" value="D:\inetpub\Enviados\" />
    <add key="Archivos" value="D:\inetpub\Archivos\" />
    <add key="DAN" value="D:\inetpub\Autorizados\DAN\" />
    <add key="fullPathC" value="D:\inetpub\Autorizados\Excel\" />
	  <add key="fullPathCO" value="D:\inetpub\Autorizados\COTECNA\" />-->
    <!--<add key="fullPath" value="C:\inetpub\Autorizados\Excel\"/>
    <add key="fullPDF" value="C:\inetpub\Autorizados\PDF\"/>
    <add key="fullIMDG" value="C:\inetpub\Autorizados\IMDG\"/>
    <add key="Enviados" value="C:\inetpub\Enviados\"/>
    <add key="Archivos" value="C:\inetpub\Archivos\"/>
    <add key="DAN" value="C:\inetpub\Autorizados\DAN\"  />
    <add key="fullPathC" value="C:\inetpub\Autorizados\Excel\"/>-->	  
	  <!--<add key="ClientSettingsProvider.ServiceUri" value="" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSManifiestoCEPAPortBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:04:00" allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" useDefaultWebProxy="true">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
        <binding name="WSManifiestoCEPAPortBinding1" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:45:00">
          <security mode="Transport">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="WSManifiestoCEPAPortBinding2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.aduana.gob.sv:80/WS118ManSid/cepaService" binding="basicHttpBinding" bindingConfiguration="WSManifiestoCEPAPortBinding" contract="CepaWebService.WSManifiestoCEPA" name="WSManifiestoCEPAPort" />
      <endpoint address="https://siduneaworld.aduana.gob.sv:443/WSManifestCEPA/cepaService" binding="basicHttpBinding" bindingConfiguration="WSManifiestoCEPAPortBinding1" contract="CepaSiduneaWorld.WSManifiestoCEPA" name="WSManifiestoCEPAPort1" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>